pipeline/PL_BLOB_TO_BLOB.json
{
	"name": "PL_BLOB_TO_BLOB",
	"properties": {
		"activities": [
			{
				"name": "META_DATA_ACT_LIST",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_BLOB_01",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FOR_ACT_FILE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "META_DATA_ACT_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('META_DATA_ACT_LIST').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "META_DATA_ACT_SIZE",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "IF_FOR_THRESOLD_CHK",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "META_DATA_ACT_SIZE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('META_DATA_ACT_SIZE').output.size,4900)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "COPY_ACT_THRESOLD",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DelimitedText1",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@activity('META_DATA_ACT_SIZE').output.itemName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_BLOB_OUPUT",
												"type": "DatasetReference",
												"parameters": {
													"outputfoder": "output"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "FOR_ACT_FILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-46.eastus.logic.azure.com:443/workflows/74b5d0345fae42cdadfc71fde1e9f3aa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fy3OhEDyMc2uoBnD2ouaitRP88loyJVIUWXDDjPUUxE",
					"method": "POST",
					"headers": {
						"content-type": "application/json"
					},
					"body": {
						"value": "{\n    \n    \"to\":\"agshubham000@gmail.com\",\n    \"subject\":\"successfull\",\n    \"email_body\":\"pipeline run successfully\",\n    \"pipeLineName\":\"@{pipeline().Pipeline}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "FOR_ACT_FILE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-46.eastus.logic.azure.com:443/workflows/74b5d0345fae42cdadfc71fde1e9f3aa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fy3OhEDyMc2uoBnD2ouaitRP88loyJVIUWXDDjPUUxE",
					"method": "POST",
					"headers": {
						"content-type": "application/json"
					},
					"body": {
						"value": "{\"to\":\"agshubham000gmail.com\",\n\"subject\":\"failure\",\"email_body\":\"pipeline failed\",\n    \"pipeLineName\":\"@{pipeline().Pipeline}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-10-17T06:23:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}